:root {
    --darkest: black;
    --dark-grey: #101010;
    --light-grey: #393939;
    --sub-color: crimson;
    --pink-main: #d1007e;
    --pink-sub: crimson;
    --red-main: #E94B3CFF;
    --red-sub: red;
    --orange-main: #F2AA4CFF;
    --orange-sub: orange;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

body {
    background-color: var(--dark-grey);
    color: white;
}

.main-section {
    width: 100%;
}

.dashboard {
    display: grid;
    justify-content: center;
}

.tableManipulations {
    display: flex;
    justify-content: space-around;
}

.createTable, .joinTable {
    border: var(--main-color) 1px solid;
    width: 45%;
    border-radius: 15px;
    padding: 5%;
}

.tableManipulations div input, .tableLink {
    background-color: var(--light-grey);
    margin: 1% 0;
    border-radius: 10px;
    border: none;
    width: 100%;
    padding: 2% 5%;
    background-color: #393939;
    color: whitesmoke;
    opacity: 1;
    font-size: 16px;
    border-bottom: var(--main-color) 1px solid;
}

.table-handler-btns {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.table-handler-btns button {
    background-color: var(--main-color);
    width: 90px;
    height: 50px;
    border-radius: 20px;
    cursor: pointer;
    color: whitesmoke;
    font-size: 16px;
}

.gamesHistory {
    padding: 4% 0;
}
