.login_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    background: var(--darkest);
    border-radius: 15px;
    color: whitesmoke;
}

.login_container h1 {
    margin: 0;
    padding: 10% 12% 5%;
    font-size: 36px;
}

.login_container h2, .login_container p {
    margin: 0;
    padding-bottom: 2%;
}

.email_container {
    padding: 2% 12% 3%;
}

.email_container input, .continue_btn input {
    border-radius: 10px;
    border: none;
    width: 100%;
    padding: 4% 5%;
    background-color: #393939;
    color: whitesmoke;
    opacity: 1;
    font-size: 16px;
}

input::placeholder{
    color: #bababa;
}

.continue_btn {
    padding: 3% 12%;
}

.continue_btn input {
    padding: 4% 0;
    background-color: var(--main-color);
    cursor: pointer;
}

.foot, .guest {
    padding: 3% 12% 8%;
    text-align: center;
}

.guest span {
    text-decoration: underline;
    cursor: pointer;
}